
<form action="/recipes" method="post">
  <div class="categories">
  <% Category.all.each do |category|  %>
    <label for="recipe[category_ids][]"><%= category.name %></label>
    <input type="checkbox" name="recipe[category_ids][]" value="<%= category.id%>" <%= "checked=checked" if @recipe.category_ids.include?(category.id) %>>
  <% end %>
    </div>
  <br>
  <label for="recipe[title]"></label><br>
  <input name="recipe[title]" placeholder="Title">
  <br>
  <label for="recipe[images]"></label><br>
  <input name="recipe[images]" placeholder="Image url">
  <br>
  <label for="recipe[video_url]"></label><br>
  <input name="recipe[video_url]" placeholder="Video url">
  <br>
  <textarea name="recipe[description]" cols="50" rows="5" placeholder="Description"></textarea>
  <br />
  <br>
  <textarea name="recipe[ingredients]" cols="50" rows="5" placeholder="Ingredients"></textarea>
  <br />
  <input type="submit">
</form>

  
  

  
  
  