<h1>New Recipe</h1>
<form action="/recipes" method="post">
  
  <% @recipe.categories.each do |category|  %>
  <input type="checkbox" name="category" id= [] <%= category.name %>
  <% end %>

  <label for="recipe[title]">Recipe:</label>
  <input name="recipe[title]">
  <br>
  <label for="user[username]">Username:</label>
  <input name="user[username]">
  </br>
  <br>
  <textarea name="myTextBox" cols="50" rows="5">
  Enter some text...
  </textarea>
  <br />
  <input type="submit" />
</form>

  
  

  
  
  