<h1>New Recipe</h1>

<form action="/recipes" method="post">
  <label for="recipe[title]">Title:</label>
  <input name="recipe[title]">
  <br>
  <label for="recipe[description]">Description:</label>
  <input name="recipe[description]">
  
  
  
  