 body {
    margin: 0 auto;
    text-align: center;
 }

 h2 {
    font-size: 15px;
    font-weight: 300;
 }

 ul {
    text-align: center;
    margin: 19px auto;
    padding: 0;
 }

 li {
    text-align: center;
    list-style: none;
 }

 .row {
    margin: 0 auto;
 }

 a {
    color: black;
 }

 div.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
 }

 div.shader {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.1));
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 }

 section.home {
    color: #fff;
    background: url('../images/vegie.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 }

 footer {
    position: fixed;
    bottom: 0;
    color: white; 
 }

 /* First make sure the video thumbnail images are responsive. */
    img {
      max-width: 100%;
      height: auto;
    }

  /* 
  This is the starting grid for each video with thumbnails 5 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */
  .video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background: #f2f2f2;
    border-radius: 3px;
    height: 250px;
  }

  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }

   /* These keep the height of each video consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. */
  .video figure {
    height: 0;
    padding-bottom: 60%;
  }

  .main_box {
    background-color: #f2f2f2;
  }

  a.atag {
    color: #595959;
  }

  label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 500;
  }

  .nav {
    margin-left: 0px;
  }

 