<section class="home">
  <div class="shader"></div>

  <div class="centered">
    <h1>Foodies.com</h1>
    <form id="search-form" class="form-inline" action="/recipes">
      <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
      <button class="btn btn-default">Search Recipes</button>
    </form>
  </div>

</section>