<!DOCTYPE html>
<html>
<head>
  <title>Foodies</title>
  <%= css :application%>
  <%= js :application%>
</head>
<body>
  <header>
    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Log in</a></li>
        <li><a href="/users/new">Create a profile</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/recipes/new">Upload your videorecipe</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>